<div class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom">
    <div class="datepicker-days" *ngIf="mode == modes.Days">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th colspan="7" class="datepicker-title" *ngIf="title != ''">{{title}}</th>
                </tr>
                <tr>
                    <th class="prev" (click)="toPrevMonth()">«</th>
                    <th colspan="5" class="datepicker-switch" (click)="switchMode(modes.Months)">
                        {{months[selectedMonth]}} {{selectedYear}}
                    </th>
                    <th class="next" (click)="toNextMonth()">»</th>
                </tr>
                <tr>
                    <th *ngFor="let day of shortDays" class="dow">{{day}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of dates">
                    <td *ngFor="let date of week" class="day" [ngClass]="getDisplayDateStyle(date)" (click)="selectDate(date)">
                        {{date.getDate()}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr *ngIf="hasclearbutton">
                    <th colspan="7" class="clear">
                        <span class="glyphicon glyphicon-erase" (click)="clearDate()"></span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="datepicker-months" *ngIf="mode == modes.Months">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th colspan="7" class="datepicker-title" *ngIf="title != ''">{{title}}</th>
                </tr>
                <tr>
                    <th class="prev" (click)="toPrevYear()">«</th>
                    <th colspan="5" class="datepicker-switch" (click)="switchMode(modes.Years)">
                        {{selectedYear}}
                    </th>
                    <th class="next" (click)="toNextYear()">»</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span *ngFor="let month of shortMonths; let i = index" class="month" [ngClass]="getDisplayMonthStyle(i)" (click)="selectMonth(i); switchMode(modes.Days)">
                            {{month}}
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr *ngIf="hasclearbutton">
                    <th colspan="7" class="clear">
                        <span class="glyphicon glyphicon-erase" (click)="clearDate()"></span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="datepicker-years" *ngIf="mode == modes.Years">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th colspan="7" class="datepicker-title" *ngIf="title != ''">{{title}}</th>
                </tr>
                <tr>
                    <th class="prev" (click)="toPrevDecade()">«</th>
                    <th colspan="5" class="datepicker-switch">
                        {{selectedDecade[0]}} - {{selectedDecade[selectedDecade.length - 1]}}
                    </th>
                    <th class="next" (click)="toNextDecade()">»</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <span *ngFor="let year of selectedDecade" class="year" [ngClass]="getDisplayYearStyle(year)" (click)="selectYear(year); switchMode(modes.Months)">
                            {{year}}
                        </span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr *ngIf="hasclearbutton">
                    <th colspan="7" class="clear">
                        <span class="glyphicon glyphicon-erase" (click)="clearDate()"></span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>