PFS.Server.MvcApp/node_modules
PFS.Server.MvcApp/obj
PFS.Server.MvcApp/bin
PFS.Server.MvcApp/typings
PFS.Server.MvcApp/wwwroot
PFS.Server.Repository.NetCoreOData/node_modules
PFS.Server.Repository.NetCoreOData/obj
PFS.Server.Repository.NetCoreOData/bin
PFS.Server.Repository.NetCoreOData/typings
PFS.Server.Repository.NetCoreOData/wwwroot
PFS.Server.Core/obj
PFS.Server.Core/bin
.vs
/packages
/packages
/PFS.Server.EntityFramework.OData/bin
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/obj/Debug
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/de
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/es
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/fr
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/it
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ko/Microsoft.Data.OData.resources.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/it
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ja
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ja
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ko
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ko
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/roslyn
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ru
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/zh-Hans
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/zh-Hant
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/WebGrease.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/System.Web.WebPages.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Antlr3.Runtime.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Antlr3.Runtime.pdb
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/ApplicationInsights.config
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.Agent.Intercept.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.DependencyCollector.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.DependencyCollector.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.PerfCounterCollector.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.ServerTelemetryChannel.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.ServerTelemetryChannel.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.ServerTelemetryChannel.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.Web.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.Web.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/Microsoft.AI.Web.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/System.Web.WebPages.Razor.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/System.Web.WebPages.dll
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/System.Web.WebPages.Deployment.xml
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin/System.Web.WebPages.Deployment.dll
*.xml
*.dll
*.pdb
/PFS.Server.EntityFramework.OData/PFS.Server.EntityFramework.OData/bin
