PFS.Server.MvcApp/node_modules
PFS.Server.MvcApp/obj
PFS.Server.MvcApp/bin
PFS.Server.MvcApp/typings
PFS.Server.MvcApp/wwwroot

PFS.Server.Admin/node_modules
PFS.Server.Admin/obj
PFS.Server.Admin/bin
PFS.Server.Admin/typings
PFS.Server.Admin/wwwroot

PFS.Server.JasmineTests/node_modules
PFS.Server.JasmineTests/obj
PFS.Server.JasmineTests/bin
PFS.Server.JasmineTests/typings
PFS.Server.JasmineTests/wwwroot

PFS.Server.Core/obj
PFS.Server.Core/bin
.vs
/packages
/PFS.Server.DbProvider.Ef.MsSqlOData/bin
/PFS.Server.DbProvider.Ef.MsSqlOData/obj
/PFS.Server.DbProvider.Ef.MsSqlOData/App_Data
/PFS.Server.DbProvider.EfCore.SqLiteOData/bin
/PFS.Server.DbProvider.EfCore.SqLiteOData/obj
/PFS.Server.UnitTests/bin
/PFS.Server.UnitTests/obj
node_modules