@inherits System.Web.Mvc.WebViewPage
<html>
<head>
    <base href="/">
    <title>PFS Jasmine Spec Runner v2.5.2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="jasmine/libs/jasmine-core/jasmine_favicon.png" />
    <link rel="stylesheet" type="text/css" href="jasmine/libs/jasmine-core/jasmine.css" />
    <script type="text/javascript" src="jasmine/libs/jasmine-core/jasmine.js"></script>
    <script type="text/javascript" src="jasmine/libs/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript" src="jasmine/libs/jasmine-core/boot.js"></script>
    <script type="text/javascript" src="jasmine/libs/datajs/datajs.js"></script>
    <script type="text/javascript" src="jasmine/libs/jaydata/jaydata.js"></script>
    <script type="text/javascript" src="jasmine/libs/jaydata/jaydataproviders/oDataProvider.js"></script>
    <script src="jasmine/src/db.odata.context.js"></script>
    <script src="jasmine/src/db.odata.actions.js"></script>
    <script src="jasmine/spec/db.odata.spec.js"></script>
</head>
<!-- 3. Display the application -->
<body>
</body>
</html>