<div>no filter</div>

<image-box>
    <image-item src="/SampleImages/Sample1.png" alt="Place for picture" width="300" height="400">

    </image-item>
    <image-item src="/SampleImages/Sample1.png" alt="Place for picture" width="300" height="400">

    </image-item>
    <image-item src="/SampleImages/Sample1.png" alt="Place for picture" width="300" height="400">

    </image-item>
    <image-item src="/SampleImages/Sample1.png" alt="Place for picture" width="300" height="400">

    </image-item>
</image-box>