<div>no filter</div>

<image-box>
    <image-item src="http://placehold.it/200x150" alt="Place for picture" width="200" height="150">

    </image-item>
    <image-item src="http://placehold.it/200x150" alt="Place for picture" width="200" height="150">

    </image-item>
    <image-item src="http://placehold.it/200x150" alt="Place for picture" width="200" height="150">

    </image-item>
    <image-item src="http://placehold.it/200x150" alt="Place for picture" width="200" height="150">

    </image-item>
</image-box>

<images-group-preview-box></images-group-preview-box>
<images-group-preview-animated-box></images-group-preview-animated-box>