<div class="panel panel-default">
    <div class="btn-group" role="toolbar" aria-label="grid-panel">
        <button type="button" class="btn btn-default"
                *ngIf="!isConfigMode"
                (click)="switchToConfigView()">
            <span class="glyphicon glyphicon-wrench"></span>
        </button>
        <button type="button" class="btn btn-default"
                *ngIf="isConfigMode"
                (click)="switchToDataView()">
            <span class="glyphicon glyphicon-eye-open"></span>
        </button>
    </div>

    <div *ngIf="isConfigMode" class="panel-heading">specify settings for grid:</div>
    <div *ngIf="isConfigMode" class="panel-body">
        <p>Columns visibility:</p>
        <ul class="list-group">
            <li *ngFor="let column of Header.Columns" class="list-group-item">
                <label><input type="checkbox" [(ngModel)]="column.isVisible">{{column.headerText}}</label>
            </li>
        </ul>
    </div>
    <div class="table-responsive">
        <table *ngIf="!isConfigMode" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th *ngFor="let column of Header.RenderedColumns">{{column.headerText}}</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

